node_modules/
backend/node_modules/
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/avatars/
backend/uploads/avatars/*
!backend/uploads/avatars/.gitkeep
.DS_Store
*.log
.env
